body{
	font-family: ubuntu;
	font-size: 16px;
	background-color: #dfdfdf;
	background-image: url('image/background.jpg');
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: repeat;
	background-position: right;
}


header{
	color: blue;
	text-align: center;
}

.heading2{
	color: green;
}
.paragraf{
	text-align: justify;
	text-indent: 40px;
}

.satu{
	color: blueviolet;
}

.dua{
	color: red;
}

.tiga{
	color: yellow;
}

.empat{
	color: blue;
}

label{
	color: green;
}

footer{
	text-align: right; 
}
