body{
	font-family: ubuntu;
	font-size: 16px;
	background-color: #dfdfdf;
	background-image: url('image/background.jpg');
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: repeat;
	background-position: right;
}

header{
	color: blue;
	text-align: center;
}

#heading2{
	color: green;
}

#paragraf1{
	text-indent: 40px;
	text-align: justify;
}

label{
	color: green;
}

footer{
	text-align: left: 
}